<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myOrganization.cmd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Path/To/Script/SomeScript.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>10800</integer>
    <key>StandardOutPath</key>
    <string>/Path/To/log/cmd.log</string>
    <key>StandardErrorPath</key>
    <string>/Path/To/log/cmd-err.log</string>
</dict>
</plist>

